<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>my-youtube</title>
<link rel="stylesheet" href="/fonts/roboto.css">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="stylesheet" href="/style.css">
<link rel="prefetch" href="/vendor/shaka/shaka-player.compiled.js" as="script" fetchpriority="low">
<script src="/app.js"></script>
<script>if('serviceWorker' in navigator){navigator.serviceWorker.register('/sw.js')}</script>
